body	{
	background-color: #121212;
	color: white;
  position: relative;

}

#main	{
	width: 100%;
	margin: 0;
}

#assignmentName {
  margin-left: 16px;
  font-size: 1.5em;
  color: rgb(114, 137, 218);

}

#heading {
	text-align: center;
  font-size: 72px;
  color: rgb(114, 137, 218);

}

#form-container {
  background-color: rgb(114, 137, 218);
  font-size: 36px;
	text-align: left;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.form-field {
  margin: 10px;
}

.textbox, .textbox2 {
  color: black;
  float: right;
}

.rangefield  {
  margin-left: 36%;
  width: 50%;
}

.textbox2  {
  background-color: #C5D0D1
  ;
}